.App {
  /* text-align: center; */
  position: relative;
  height: 100vh;
  background-color: #282c34;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App #App-map {
  position: absolute;
  height: 62%;
  width: 75%;
  right: 0px;
  z-index: 0
}

.App #App-searchbar{
  background-color: #282c34;
  /* opacity: 0.9; */
  /* min-height: 113vh; */
  position: absolute;
  top:20px;
  left:20px;
  /* margin-top: -300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  /* font-size: calc(8px + 2vmin); */
  color: white;
}

.App #App-searchbar :hover{
  color: greenyellow;
}

.App #App-searchbar button {
  position: relative;
  top: 20px;
  height: 40px;
  color: white;
  background-color: #282c34;
  border-radius: 5px;
}
.App #App-searchbar button:hover {
  color: #282c34;
  background-color: white;
}

.App #App-detailedtable {
  position: absolute;
  color: white;
  left: 20px;
  top: 130px;
}

.App #App-detailedtable table {
  width: 100%;
}

.App #App-detailedtable th {
  
}

.App #App-chart {
  background-color: #282c34;
  position: absolute;
  bottom: 5px;
  /* left:20px; */
  right: 10px;
  /* right:150px; */
  width:75%;
  color: white
}


/* .App-searchbar p {
  position:relative;
  bottom: 200px;
} */


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
